<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Charles</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>chls</string>
				<string>chlsx</string>
				<string>chlsj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>charles_session</string>
			<key>CFBundleTypeName</key>
			<string>Charles saved session</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>amf</string>
				<string>amf0</string>
				<string>amf3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>charles_amf</string>
			<key>CFBundleTypeName</key>
			<string>Charles AMF dump</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>har</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>charles_har</string>
			<key>CFBundleTypeName</key>
			<string>Charles HAR session</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pcap</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>charles_pcap</string>
			<key>CFBundleTypeName</key>
			<string>Pcap Network Capture</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>trace</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>charles_trace</string>
			<key>CFBundleTypeName</key>
			<string>Charles Trace file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Charles</string>
	<key>CFBundleIconFile</key>
	<string>charles.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.xk72.Charles</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Charles</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.5.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4.5.1</string>
	<key>IgnorePSN</key>
	<true/>
	<key>JVMArguments</key>
	<array/>
	<key>JVMClassPath</key>
	<array>
		<string>$APP_ROOT/Contents/Java/charles.jar</string>
	</array>
	<key>JVMDefaultOptions</key>
	<dict/>
	<key>JVMMainClassName</key>
	<string>com.xk72.charles.macos.gui.Main</string>
	<key>JVMOptions</key>
	<array>
		<string>-Dcom.apple.mrj.application.live-resize=true</string>
		<string>-Dapple.laf.useScreenMenuBar=true</string>
		<string>-Dapple.mrj.application.growbox.intrudes=true</string>
		<string>-Dcom.apple.hwaccel=true</string>
		<string>-Dswing.aatext=true</string>
		<string>-Dapple.awt.graphics.UseQuartz=true</string>
		<string>-Djava.net.preferIPv4Stack=false</string>
		<string>-Djava.net.preferIPv6Addresses=true</string>
		<string>-Dcharles.home=$APP_ROOT/Contents</string>
		<string>-Xdock:icon=$APP_ROOT/Contents/Resources/charles.icns</string>
		<string>-Xdock:name=Charles</string>
		<string>-Dcom.apple.mrj.application.apple.menu.about.name=Charles</string>
	</array>
	<key>JVMRuntime</key>
	<string>jdk-11.0.5_9.jdk</string>
	<key>JVMVersion</key>
	<string>11</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>LSEnvironment</key>
	<dict>
		<key>LC_CTYPE</key>
		<string>UTF-8</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Charles Web Debugging Proxy https://www.charlesproxy.com/</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.xk72.charles.ProxyHelper</key>
		<string>anchor apple generic and identifier "com.xk72.charles.ProxyHelper" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = "9A5PCU4FSD")</string>
	</dict>
</dict>
</plist>
